body{
    margin: 0;
}
.field{
    max-width: 100%;
}
.header{
    text-align: center;
}
.name{
    color: white;
    background-color: rgb(241, 145, 161);
    margin:0px;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-top: 40px;

    padding-bottom: 10px;
}
#google_translate_element{
    margin-top: 80px;
    margin-left: 10px;

}
.first{
    display: flex;
     max-width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.logo{
    width: 50%;
    margin-top: 10px;
}
.sec{
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}
.pic1{
    max-width: 100%;
    margin-bottom: 0;
}
.list{
    border-top: 20px solid rgb(241, 145, 161);
    margin-bottom: 0;
    background-color: rgba(83, 55, 174, 0.783);
    padding: 10px;
    margin-top: 0;
    text-align: center;
}
#agent-name{
    color: white;
    font-weight: 800;
    margin-bottom: 0;
}
#lic{
    color: orange;
    font-weight: 100;
    margin-top: 0;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.box1{
    max-width: 50%;
    color: white;
    margin-right: 10px;

}
#states{
    background-color: rgb(241, 145, 161);
    text-align: end;
    margin-top: 0;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
#logo{
    border-radius: 10px;
    max-width: 40px;
    margin-right: 20px;
}
.contact{
    display: flex;
    justify-content: space-evenly;
}
.contactUs{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bubbles{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.bubble{
    color: white;
    border-radius: 10px;
    max-width: 32%;
    text-align: center;
    padding: 5px;
}
.a{
    background-color: rgb(235, 122, 209);
}
.b{
    background-color: rgb(235, 79, 235);
}
.c{
    background-color: rgb(241, 145, 161);
}
@media (min-width:800px ) {
    .name{
        font-size: 50px;
    }
    .first{
        flex-direction: row;
        margin-top: 110px;
        margin-bottom: 0;
    }
    #agent-name{
        font-size: xx-large;
    }
    #lic{
        font-size: x-large;
    }
    .box1{
        font-size: large;
    }
    .pic1{
        width: 50%;
        margin-bottom: 0;
        border-radius: 20px;
    }
    #logo{
        max-width: 80px;
    }
    .contactUs{
        font-size: x-large;
        margin: 30px;
    }
    .bubble{
        font-size: xx-large;
        margin: 30px;
    }
    #google_translate_element{
        margin-top: 30px;
        position: fixed;
    }
}
